NEXT_PUBLIC_NFT_CONTRACT=nft-contract-test1.hdtung.testnet
NEXT_PUBLIC_MARKETPLACE_CONTRACT=nft-marketplace.hdtung.testnet
NEXT_PUBLIC_STORAGE_WEB3_NEARMARS=bafybeiezfbfqmagz3d4hyj32nu2feltjiplf7ya4ql67ncntyrixr3ozim
NEXT_PUBLIC_STORAGE_WEB3=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDhBYkJBMTYxOTVERTc1MTg1ODU3ZTQxNmRhQjEyODFlNUFiYzFBQkEiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2OTI2NzM1Mzc1NDEsIm5hbWUiOiJ0b21teXRodXkyMDIzLnRlc3RuZXQifQ.b5ZSfWYHNtlhdRWEb2W4XneW4bsyMVJXOBM9_co_hz8



NEXT_PUBLIC_NFT_CONTRACT=nft-contract-test1.tommythuy2023.testnet
NEXT_PUBLIC_MARKETPLACE_CONTRACT=nft-contract-test2.tommythuy2023.testnet
NEXT_PUBLIC_STORAGE_WEB3_NEARMARS=bafybeiezfbfqmagz3d4hyj32nu2feltjiplf7ya4ql67ncntyrixr3ozim
NEXT_PUBLIC_STORAGE_WEB3=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDhBYkJBMTYxOTVERTc1MTg1ODU3ZTQxNmRhQjEyODFlNUFiYzFBQkEiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2OTI2NzM1Mzc1NDEsIm5hbWUiOiJ0b21teXRodXkyMDIzLnRlc3RuZXQifQ.b5ZSfWYHNtlhdRWEb2W4XneW4bsyMVJXOBM9_co_hz8
