NEXT_PUBLIC_NFT_CONTRACT=nft.tommythuy2023.testnet
NEXT_PUBLIC_MARKETPLACE_CONTRACT=nft-market.tommythuy2023.testnet
NEXT_PUBLIC_STORAGE_WEB3_NEARDATE=bafybeierzyjnl7cjsvyhposwt7le7wljz7jeormsz5plrakm64bhx5nita
NEXT_PUBLIC_STORAGE_WEB3=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDhBYkJBMTYxOTVERTc1MTg1ODU3ZTQxNmRhQjEyODFlNUFiYzFBQkEiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2OTI2NzM1Mzc1NDEsIm5hbWUiOiJ0b21teXRodXkyMDIzLnRlc3RuZXQifQ.b5ZSfWYHNtlhdRWEb2W4XneW4bsyMVJXOBM9_co_hz8